In [1]:
import pandas as pd

In [2]:
pd.read_csv("https://data.ibb.gov.tr/dataset/3ee6d744-5da2-40c8-9cd6-0e3e41f1928f/resource/00d72836-d035-462d-a66e-408883216195/download/traffic_density_202105.csv")

,DATE_TIME,LONGITUDE,LATITUDE,GEOHASH,MINIMUM_SPEED,MAXIMUM_SPEED,AVERAGE_SPEED,NUMBER_OF_VEHICLES
0,2021-05-01 17:00:00,29.042358,41.113586,sxk9uu,7,102,44,40
1,2021-05-01 19:00:00,28.580933,41.201477,sxk66k,48,93,77,29
2,2021-05-03 19:00:00,28.987427,41.108093,sxk9ge,10,110,47,54
3,2021-05-03 07:00:00,28.383179,41.075134,sxk1tv,62,163,95,72
4,2021-05-02 16:00:00,28.778687,41.212463,sxk6qy,8,86,39,38
...,...,...,...,...,...,...,...,...
121210,2021-05-02 12:00:00,28.394165,41.069641,sxk1wh,55,136,85,50
121211,2021-05-03 05:00:00,28.756714,41.036682,sxk3qq,40,104,66,16
121212,2021-05-02 20:00:00,29.317017,40.954285,sxkbgp,6,100,34,17
121213,2021-05-03 18:00:00,28.844604,41.064148,sxk987,1,138,63,493
121214,2021-05-01 12:00:00,29.119263,41.058655,sxk9wd,24,163,94,219

In [3]:
from pathlib import Path

In [6]:
Path("data/staging/traffic/apr.parquet").stem

'apr'

In [9]:
from arrow.arrow import Arrow

In [14]:
for m in [5,4,3,2,1]:
    day = Arrow(year=2021, month=m,day=1,tzinfo="Europe/Istanbul")
    print(day.ceil('month'))

2021-05-31T23:59:59.999999+03:00
2021-04-30T23:59:59.999999+03:00
2021-03-31T23:59:59.999999+03:00
2021-02-28T23:59:59.999999+03:00
2021-01-31T23:59:59.999999+03:00

In [15]:
import pandas as pd

In [26]:
pd.read_parquet("data/staging/traffic/may.parquet").mean()

/var/folders/_n/w45vx51n55z0vt4_yy5t3p200000gn/T/ipykernel_38611/1074719771.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  pd.read_parquet("data/staging/traffic/may.parquet").mean()

LONGITUDE              28.877886
LATITUDE               41.057497
MINIMUM_SPEED          22.323170
MAXIMUM_SPEED         110.737244
AVERAGE_SPEED          60.228676
NUMBER_OF_VEHICLES     72.151615
dtype: float64